<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="Workflow">
        <register type="Adapter.WorkflowEx.IWorkflow,WorkflowEx"  mapTo="Adapter.WorkflowEx.WF3Adapter,WorkflowEx" name="WF3"></register>
        <register type="Adapter.WorkflowEx.IWorkflow,WorkflowEx"  mapTo="Adapter.WorkflowEx.WF4Core,WorkflowEx" name="WF4"></register>
      </container>
    </containers>
  </unity>
</configuration>